[Desktop Entry]
Name=Linux Undervolt Tool
Version=0.4-1
Type=Application
Comment=GUI Interface for intel-undervolt

Exec=linux-undervolt
Icon=/usr/share/icons/gnome/48x48/apps/file-manager.png
Categories=Utility;

Terminal=False
StartupNotify=True
StartupWMClass=linux-undervolt
